/* Main stuff */
.text {
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 10s infinite linear;
  animation: stroke 10s infinite linear; }
  .text:nth-child(5n + 1) {
    stroke: white;
    -webkit-animation-delay: -2s;
    animation-delay: -2s; }
  .text:nth-child(5n + 2) {
    stroke: white;
    -webkit-animation-delay: -4s;
    animation-delay: -4s; }
  .text:nth-child(5n + 3) {
    stroke: white;
    -webkit-animation-delay: -6s;
    animation-delay: -6s; }
  .text:nth-child(5n + 4) {
    stroke: white;
    -webkit-animation-delay: -8s;
    animation-delay: -8s; }
  .text:nth-child(5n + 5) {
    stroke: white;
    -webkit-animation-delay: -10s;
    animation-delay: -10s; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }
@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }