body{
  padding: 0;
  color:white;
  background-repeat: no-repeat;
  background-color: black;
}
svg{
  width: 80%; 
  margin: 0 auto 0px auto;
  display: block;
  text-transform: uppercase; 
}
img.desaturate { 
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}
img:hover{
    -webkit-filter: grayscale(0); 
    filter: grayscale(0); 
}

/* ------ CLASSSES ------- */
.row{
  padding: 0;
  margin: 0;
}
.large-header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  margin: 0;
  padding: 0;
}
.header-canvas .large-header{
  opacity: .5;
}
.textAnimation{
  position: relative;
  top: 100px;
}
.content{
  position: absolute;
  font: 800 14.5em/1  'Open Sans', Stalinist One; 
  padding: 0;
  margin: 0;
}
.content p{
  font-family: 'Stalinist One', cursive;
  font-size: 20px;
  color: white;
  text-align: center;
}
.about{
  display: block;
  margin: auto;
  color: white;
  font-family: 'Jura', sans-serif;
}
.aboutlinks{
  display: block;
  margin: 50px auto;
}
.aboutimg{
  float: left;
  margin: 10px;
}
.skills{
  margin: 40px 0 0 0;
  font-family: 'Jura', sans-serif;
}
.skillHorizontal{
  width: 100px;
  float: left;
  margin: 10px;
}
.skillVertical{
  height: 100px;
  float: left;
  margin: 10px;
}
.works{
  margin: 40px 0 0 0;
  font-family: 'Jura', sans-serif;
}
.ttt{
  width: 200;
  height: 180px;
  margin: 5px;
}
.contact{
  display: block;
  margin: auto;
  color: white;
  font-family: 'Jura', sans-serif;
}
.contactlinks{
  float: left;
  margin: 5px;
}
.mail{
  margin: 30px;
}

/* ------ ID ------ */
#container-fix{
  padding: 0;
  margin: 0;
}

#jwd{
  font-family: 'Jura', sans-serif;
}
